<h1>Coderetriver spider</h1>

In [3]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('dataObtenida/test2.csv')
data.head()

<h1>Coderetriver2 spider</h1>

In [4]:
data2 = pd.read_csv('dataObtenida/test3.2.csv')
data2.head()

/tmp/ipykernel_17560/4058062820.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv('dataObtenida/test3.2.csv')

,Provincia,Localidad,calle_avenida,desde,hasta,aplica,cp,cpa
0,Neuquen,Centenario,Calle San Martin,301,399,números impares,8309,Q8314ANA
1,Neuquen,Centenario,Calle San Martin,302,400,números pares,8309,Q8314ANB
2,Neuquen,Centenario,Calle Pedro Hardcastle,401,499,números impares,8309,Q8314AEA
3,Neuquen,Centenario,Calle Pedro Hardcastle,402,500,números pares,8309,Q8314AEB
4,Neuquen,Centenario,Calle Pedro Hardcastle,501,599,números impares,8309,Q8314AEC

In [7]:
data2.shape

(10835077, 8)

In [ ]:
columnas = ['cp', 'calle_avenida', 'desde', 'hasta', 'aplica']
for columna in columnas:
    data2[columna] = data2[columna].str.split('<', expand=True)[1]
    data2[columna] = data2[columna].str.split('>', expand=True)[1]

In [ ]:
data2['cp'] = data2['cp'].astype('int')

In [ ]:
local = pd.read_csv('data/localities.csv')
local.head()

In [ ]:
local.columns = ['cp', 'Provincia', 'Localidad']

In [ ]:
newdata2 = data2.merge(local, how='left', on='cp')
newdata2.head(20)

In [3]:
newdata2 = newdata2.drop(columns=['provincia', 'localidad'], axis=1)
newdata2.head()

,cp,cpa,calle_avenida,desde,hasta,aplica,Provincia,Localidad
0,8309,Q8314ANA,Calle San Martin,301,399,números impares,Neuquen,Centenario
1,8309,Q8314ANB,Calle San Martin,302,400,números pares,Neuquen,Centenario
2,8309,Q8314AEA,Calle Pedro Hardcastle,401,499,números impares,Neuquen,Centenario
3,8309,Q8314AEB,Calle Pedro Hardcastle,402,500,números pares,Neuquen,Centenario
4,8309,Q8314AEC,Calle Pedro Hardcastle,501,599,números impares,Neuquen,Centenario

In [6]:
newdata2 = newdata2[['Provincia','Localidad','calle_avenida','desde', 'hasta','aplica','cp', 'cpa']]
newdata2.head()

,Provincia,Localidad,calle_avenida,desde,hasta,aplica,cp,cpa
0,Neuquen,Centenario,Calle San Martin,301,399,números impares,8309,Q8314ANA
1,Neuquen,Centenario,Calle San Martin,302,400,números pares,8309,Q8314ANB
2,Neuquen,Centenario,Calle Pedro Hardcastle,401,499,números impares,8309,Q8314AEA
3,Neuquen,Centenario,Calle Pedro Hardcastle,402,500,números pares,8309,Q8314AEB
4,Neuquen,Centenario,Calle Pedro Hardcastle,501,599,números impares,8309,Q8314AEC

In [8]:
newdata2 = data2

In [9]:
newdata2['Provincia'] = newdata2['Provincia'].str.lower()
newdata2['Localidad'] = newdata2['Localidad'].str.lower()
newdata2['calle_avenida'] = newdata2['calle_avenida'].str.lower()

In [10]:
newdata2.shape

(10835077, 8)

In [11]:
newdata2.to_csv('dataObtenida/test3.csv', index=False)

<h1>Concatenacion</h2>

In [2]:
dt1 = pd.read_csv('dataObtenida/test3.csv')

print(dt1.shape)
dt1.head()

/tmp/ipykernel_17734/1612552194.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  dt1 = pd.read_csv('dataObtenida/test3.csv')

(10835077, 8)

,Provincia,Localidad,calle_avenida,desde,hasta,aplica,cp,cpa
0,neuquen,centenario,calle san martin,301,399,números impares,8309,Q8314ANA
1,neuquen,centenario,calle san martin,302,400,números pares,8309,Q8314ANB
2,neuquen,centenario,calle pedro hardcastle,401,499,números impares,8309,Q8314AEA
3,neuquen,centenario,calle pedro hardcastle,402,500,números pares,8309,Q8314AEB
4,neuquen,centenario,calle pedro hardcastle,501,599,números impares,8309,Q8314AEC

In [3]:
dt2 = pd.read_csv('dataObtenida/test2.csv')

print(dt2.shape)
dt2.head()

(481886, 8)

,Provincia,Localidad,calle_avenida,desde,hasta,aplica,cp,cpa
0,Tucumán,Abra Baya,---,0,---,números impares y pares,4137,T4137XBL
1,Tucumán,Abra de la Picaza,---,0,---,números impares y pares,4137,T4137XBM
2,Tucumán,Abra de Yareta,---,0,---,números impares y pares,4137,T4137XBN
3,Tucumán,Abra del Infiernillo,---,0,---,números impares y pares,4137,T4137XBO
4,Tucumán,Aguada,---,0,---,números impares y pares,4137,T4137XBP

In [4]:
dt3 = pd.concat([dt1,dt2])
print(dt3.shape)
dt3.head()

(11316963, 8)

,Provincia,Localidad,calle_avenida,desde,hasta,aplica,cp,cpa
0,neuquen,centenario,calle san martin,301,399,números impares,8309,Q8314ANA
1,neuquen,centenario,calle san martin,302,400,números pares,8309,Q8314ANB
2,neuquen,centenario,calle pedro hardcastle,401,499,números impares,8309,Q8314AEA
3,neuquen,centenario,calle pedro hardcastle,402,500,números pares,8309,Q8314AEB
4,neuquen,centenario,calle pedro hardcastle,501,599,números impares,8309,Q8314AEC

In [5]:
dt3 = dt3.sort_values(by='Provincia')

In [6]:
dt3['Provincia'] = dt3['Provincia'].str.lower()
dt3['Localidad'] = dt3['Localidad'].str.lower()
dt3['calle_avenida'] = dt3['calle_avenida'].str.lower()

In [13]:
dt3['Provincia'] = dt3['Provincia'].str.replace('entre ríos', 'entre rios')
dt3['Provincia'] = dt3['Provincia'].str.replace('tucumán', 'tucuman')
dt3['Provincia'] = dt3['Provincia'].str.replace('córdoba', 'cordoba')
dt3['Provincia'] = dt3['Provincia'].str.replace('río negro', 'rio negro')
dt3['Provincia'] = dt3['Provincia'].str.replace('santa fé', 'santa fe')

In [22]:
dt3.drop(dt3[dt3['Provincia'].isna()].index , inplace=True)
dt3.shape

(11316956, 8)

In [23]:
dt3.to_csv('dataObtenida/CPA.csv', index=False)

<h1>Testeo</h1>

In [4]:
dt = pd.read_csv('dataObtenida/CPA.csv')
print(dt.shape)
dt.head()

/tmp/ipykernel_22348/3625288412.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  dt = pd.read_csv('dataObtenida/CPA.csv')

(11316956, 8)

,Provincia,Localidad,calle_avenida,desde,hasta,aplica,cp,cpa
0,buenos aires,salinas chicas,---,0,---,números impares y pares,8134,B8134XAD
1,buenos aires,la margarita,---,0,---,números impares y pares,7260,B6471XAE
2,buenos aires,la razon,---,0,---,números impares y pares,7260,B7260XAD
3,buenos aires,andres vaccarezza,---,0,---,números impares y pares,6634,B6634XAB
4,buenos aires,emita,---,0,---,números impares y pares,6634,B6634XAA

In [51]:
dt[(dt['Provincia'] == 'jujuy') & (dt['Localidad'] == 'san salvador de jujuy')]

,Provincia,Localidad,calle_avenida,desde,hasta,aplica,cp,cpa
7452046,jujuy,san salvador de jujuy,calle argañaraz,302,400,números pares,4600,Y4600DWH
7452084,jujuy,san salvador de jujuy,calle arenas,1,99,números impares,4600,Y4607KIA
7452136,jujuy,san salvador de jujuy,calle argañaraz,201,299,números impares,4600,Y4600DWE
7452140,jujuy,san salvador de jujuy,calle argañaraz,202,300,números pares,4600,Y4600DWF
7452144,jujuy,san salvador de jujuy,calle argañaraz,301,399,números impares,4600,Y4600DWG
...,...,...,...,...,...,...,...,...
7890585,jujuy,san salvador de jujuy,calle fernandez campero,402,500,números pares,4600,Y4607HMJ
7890621,jujuy,san salvador de jujuy,calle fernandez campero,202,300,números pares,4600,Y4607HMF
7890625,jujuy,san salvador de jujuy,calle fernandez campero,1,99,números impares,4600,Y4607HMA
7890639,jujuy,san salvador de jujuy,calle fernandez campero,302,400,números pares,4600,Y4607HMH
7890662,jujuy,san salvador de jujuy,calle felix bolivar,1502,1600,números pares,4600,Y4600JJD

In [50]:
dt[(dt['Provincia'] == 'mendoza')]

,Provincia,Localidad,calle_avenida,desde,hasta,aplica,cp,cpa
177528,mendoza,el consuelo,---,0,---,números impares y pares,5590,M5590XGD
177529,mendoza,jaguel amarillo,---,0,---,números impares y pares,5611,M5611XBF
177530,mendoza,el cavado chico,---,0,---,números impares y pares,5590,M5590XGL
177531,mendoza,el cercado,---,0,---,números impares y pares,5590,M5590XGO
177532,mendoza,el gonzano,---,0,---,números impares y pares,5590,M5590XGN
...,...,...,...,...,...,...,...,...
226793,mendoza,el marcado,---,0,---,números impares y pares,5594,M5594XAB
226794,mendoza,el guanaco,---,0,---,números impares y pares,5594,M5594XAG
226795,mendoza,el luquino,---,0,---,números impares y pares,5594,M5594XAV
8122801,mendoza,campo de batalla,calle s/c,0,0,números pares,5435,J5435BDC
8122802,mendoza,campo de batalla,calle s/c,0,0,números pares,5435,J5435BDA

In [5]:
dt['hasta'] = dt['hasta'].astype('string')

<h1>Conversion a parquet</h1>

In [ ]:
dt['hasta'] = dt['hasta'].astype('string')

In [ ]:
dt1 = dt.iloc[:5658478,:]
dt2 = dt.iloc[5658478:,:]

In [6]:
dt1.to_parquet('dataObtenida/codigosCPA_1.parquet')
dt2.to_parquet('dataObtenida/codigosCPA_2.parquet')